.title {
    #font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
}

.header {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-content: center;
    #font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    height: 69px;
    color: white;
    background: #35444F;
    margin-bottom: 67px;

}

.title-logo {
    text-decoration: none;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
}

.nav-item {
    border-right: 1px solid white;
}

.nav-item:first-child {
    border-left: 1px solid white;
}

.nav-item:hover {

    background-color: #222F3A;
}

.nav-link {
    color: white;
    padding: 20px 21px;
}

.left-menu {
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 344px;
    padding-left: 44px;
    height: 399px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;

}

.left-menu-item {
    margin: 0;
    display: flex;

}

.left-menu-item:hover {
    background: #DBDBDB;
}


.container {
    width: 1280px;
    margin: 0 auto;


}

body {
    #font-family: 'Roboto';
}

ul {
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    list-style: none;
}

.content {
    width: 885px;
    margin-bottom: 50px;

}

.main {
    display: flex;
}


.top-main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 529px;
}

.img-fon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 52px;
    border: 1px solid #000000;

}

.img {
    width: 320px;
    height: 381px;
}

.p_main {
    margin-left: 52px;
    margin-top: 40px;
}


.text-footer {
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #0C1927;
}

.menu-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 905px;
    height: 28px;
}

.menu-item-footer:hover {
    color: #3181A6;
    text-decoration: underline;
}

.copy {
    width: 190px;
    height: 69px;
    text-align: right;
    #font-family: 'Roboto';
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #010101;
}

.footer-border {
    width: 1280px;
    height: 69px;
    left: 0px;
    top: 0px;
    background: rgba(99, 105, 110, 0.48);
}